<?xml version="1.0"?>

<!-- jplaced@unizar.es
 2021, Universidad de Zaragoza -->

<!-- Robot standalone -->

<robot  name="kobuki_standalone"
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
        xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Defines the kobuki component tag. -->
  <xacro:include filename="$(find graph_d_exploration)/launch/include/urdf/kobuki.urdf.xacro" />
  <xacro:kobuki/>
</robot>
